* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #5f27cd;
    padding: 16px;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

.Ad{
    background-color: #5f27cd;
    margin-left: 16px;
    color: white;
    border: rgb(42, 112, 9) solid;
    border-radius: 16px;
    font-size: 22px;
    padding: 6px 0;
    font-weight: bold;
}

.Ad:hover{
    background-color: rgb(12, 110, 33);
}

form{
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2{
    margin-bottom: 16px;
}

input,
button{
    padding: 8px;
}

form button{
    border: black solid;
    border-radius: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #c8d6e5;
}

form button:hover{
    background-color: rgb(12, 110, 33, 0.6);
}

button{
    cursor: pointer;
}

#cancel:hover{
    background-color: rgb(252, 0, 0, 0.6);
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none;
    position: relative;
    max-height: 200px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

.overlay{
    padding: 16px;
    background-color: rgb(0, 0, 0, 0.7);
    bottom: 0; 
    left: 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: all ease .4s;
}

.overlay a{
    text-decoration: none;
    color: white;
}

.overlay a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.overlay:hover{
    opacity: 1;
}

ul li:hover .overlay{
    opacity: 1;
}